<h2>Methods that were not run</h2><table>
<tr><td>webdriver.Runtestng.testng7</td></tr>
<tr><td>webdriver.Runtestng.testng3</td></tr>
<tr><td>webdriver.Runtestng.testng4</td></tr>
<tr><td>webdriver.Runtestng.testng5</td></tr>
<tr><td>webdriver.Runtestng.getChorme</td></tr>
<tr><td>webdriver.Runtestng.testng6</td></tr>
<tr><td>webdriver.Runtestng.testng1</td></tr>
<tr><td>webdriver.Runtestng.testng2</td></tr>
<tr><td>webdriver.Runtestng.getFirefox</td></tr>
</table>