<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>webdriver.Runtestng</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testng2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testng1</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getChorme</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testng4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getFirefox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testng7</td>
<td>Raj </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testng6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testng5</td>
<td>Raj </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testng3</td>
<td>Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
