<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parameterization Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58980">  <td>18/08/21 12:46:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.getChorme()[pri:0, instance:webdriver.Runtestng@4493d195]">getChorme</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>57835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.getFirefox()[pri:0, instance:webdriver.Runtestng@4493d195]">getFirefox</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>58235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng1()[pri:0, instance:webdriver.Runtestng@4493d195]">testng1</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>58263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng2()[pri:0, instance:webdriver.Runtestng@4493d195]">testng2</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>58275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng3()[pri:0, instance:webdriver.Runtestng@4493d195]">testng3</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>58321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng5()[pri:0, instance:webdriver.Runtestng@4493d195]">testng5</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>58341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng6()[pri:0, instance:webdriver.Runtestng@4493d195]">testng6</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/08/21 12:47:15</td>   <td>58353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng7()[pri:0, instance:webdriver.Runtestng@4493d195]">testng7</td> 
  <td>main@924477420</td>   <td></td> </tr>
</table>
