<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fe8984">  <td>18/09/02 12:01:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Testnrun.abc()[pri:0, instance:webdriver.Testnrun@2f943d71]">&gt;&gt;abc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050835901</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/02 12:01:13</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;Testnrun.nbc()[pri:0, instance:webdriver.Testnrun@2f943d71]">&gt;&gt;nbc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050835901</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/02 12:01:13</td>   <td>20</td> <td>&nbsp;</td><td title="&lt;&lt;Testnrun.cbc()[pri:0, instance:webdriver.Testnrun@2f943d71]">&lt;&lt;cbc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050835901</td>   <td></td> </tr>
</table>
