<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>webdriver.Testng</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Paractice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>xmltest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>method200</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Fai</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>raju</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>method100</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
