<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Testng.method1()[pri:0, instance:webdriver.Testng@34c4973]">&gt;&gt;method1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;Testng.method3()[pri:0, instance:webdriver.Testng@34c4973]">&gt;&gt;method3</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testng.Fai()[pri:0, instance:webdriver.Testng@34c4973]">Fai</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testng.method100()[pri:0, instance:webdriver.Testng@34c4973]">method100</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testng.raju()[pri:0, instance:webdriver.Testng@34c4973]">raju</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testng.xmltest()[pri:0, instance:webdriver.Testng@34c4973]">xmltest</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testng.method200()[pri:2, instance:webdriver.Testng@34c4973]">method200</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testng.Paractice()[pri:3, instance:webdriver.Testng@34c4973]">Paractice</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>310</td> <td>&nbsp;</td><td title="&lt;&lt;Testng.method()[pri:0, instance:webdriver.Testng@34c4973]">&lt;&lt;method</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>18/12/07 21:03:20</td>   <td>310</td> <td>&nbsp;</td><td title="&lt;&lt;Testng.method2()[pri:0, instance:webdriver.Testng@34c4973]">&lt;&lt;method2</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1154002927</td>   <td></td> </tr>
</table>
