<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Raj</td><td>Runtestng.testng7()[pri:0, instance:webdriver.Runtestng@5faeada1]<br/>Runtestng.testng5()[pri:0, instance:webdriver.Runtestng@5faeada1]<br/></td></tr>
<tr><td>Regression</td><td>Runtestng.testng3()[pri:0, instance:webdriver.Runtestng@5faeada1]<br/>Runtestng.testng1()[pri:0, instance:webdriver.Runtestng@5faeada1]<br/></td></tr>
</table>
