<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.getChorme()[pri:0, instance:webdriver.Runtestng@5faeada1]">getChorme</td> 
  <td>TestNG-test=Regression 1-1@1312212996</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.getFirefox()[pri:0, instance:webdriver.Runtestng@5faeada1]">getFirefox</td> 
  <td>TestNG-test=Regression 1-2@1926940105</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.getie()[pri:0, instance:webdriver.Runtestng@5faeada1]">getie</td> 
  <td>TestNG-test=Regression 1-3@350405019</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng1()[pri:0, instance:webdriver.Runtestng@5faeada1]">testng1</td> 
  <td>TestNG-test=Regression 1-4@2133711752</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:54</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng2()[pri:0, instance:webdriver.Runtestng@5faeada1]">testng2</td> 
  <td>TestNG-test=Regression 1-3@350405019</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:54</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng3()[pri:0, instance:webdriver.Runtestng@5faeada1]">testng3</td> 
  <td>TestNG-test=Regression 1-3@350405019</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:54</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng5()[pri:0, instance:webdriver.Runtestng@5faeada1]">testng5</td> 
  <td>TestNG-test=Regression 1-4@2133711752</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:54</td>   <td>136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng6()[pri:0, instance:webdriver.Runtestng@5faeada1]">testng6</td> 
  <td>TestNG-test=Regression 1-4@2133711752</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/09/02 11:50:54</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtestng.testng7()[pri:0, instance:webdriver.Runtestng@5faeada1]">testng7</td> 
  <td>TestNG-test=Regression 1-4@2133711752</td>   <td></td> </tr>
</table>
